<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Base</title>
</head>
    <body>
        {% block navbar %}
        <header>
            <nav class="navbar navbar-dark bg-dark"> 
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navGauche" aria-controls="navBarGauche" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">Perco</a>
                <div class="collapse navbar-collapse" id="navGauche">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">A Propos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Projets</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="projets/create">Création</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Recherche" aria-label="Search">
                    </form>
                </div>
            </nav>
        </header>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            <script src="/js/jquery-3.3.1.min.js"></script>
            <script src="/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
    </body>
</html>